.container{
    width: auto;
    height: 100vh;
    
}
#mapa{
  width: 100vw;
  height: 800px;
}

.red{
  background-color: red;
}




.controls{
  display: flex;
  justify-content: space-between;
}

.btn-maps{  
  background-color: rgb(27, 223, 27);
}

.btn-delete{  
  background-color: rgba(214, 41, 41, 0.74);
}